env-mo/
*/notMNIST_small/
*/notMNIST_small.tar.gz
*/notMNIST_large/
*/notMNIST_large.tar.gz
*/.ipynb_checkpoints
*/__pycache__
*/.DS_Store
.vscode/
.DS_Store
.idea/
data/*
logs/
sign-language-mnist/
sign-language-mnist.zip
.ipynb_checkpoints/